---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <div id="post-about-me">
        <img src="http://steveivy.typepad.com/site-images/hard_at_work-1.png" style="float:left;">
        <p style="margin: 0 0 0 83px; padding: 0;">
    My name is Steve Ivy and I write about technology, the open web, social software, and general nerdity on <a href="/">monkinetic.com</a>. You should <a rel="me" class="url" href="http://twitter.com/steveivy">follow me on Twitter</a> or <a rel="me" class="url" href="/atom.xml">subscribe to this blog</a> if you like what you're reading. I spend my days hacking Movable Type, python, Django, and various other efforts at <a href="http://www.wallrazer.com">Wallrazer</a>. This is my personal site.
        </p>
        <br style="clear:both">
    </div>
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.post_asides.size %}
    {% include_array post_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
