// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

$header-bg: #fff;
$header-bg-full: #fff url(/images/monkinetic_header_bkgd_left.png) top left no-repeat;
$header-bg-full2: url(/images/monkinetic_header_bkgd_right.png) bottom right no-repeat;

// layout stuff for small screens like iphone
@media only screen and (min-width: 350px) {
    body {
    }
}

@media only screen and (min-width: 550px) {
    body {
      margin: 0 20px;
    }
    hgroup {
        margin: 0;
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        margin: 0 50px;
    }
    
    hgroup {
        margin: 0;
        padding: 10px 20px;
    }
}

